In [7]:
import pandas as pd
import numpy as np

In [19]:
data=[{'a':1,'b':2,'c':3},{'d':4,'e':5,'f':6},{'a':7,'h':8,'i':9}]

In [20]:
a=pd.DataFrame(data)

In [21]:
a.index.is_monotonic

True

In [27]:
a.head()

     a    b    c    d    e    f    h    i
0  1.0  2.0  3.0  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  4.0  5.0  6.0  NaN  NaN
2  7.0  NaN  NaN  NaN  NaN  NaN  8.0  9.0

In [26]:
print(a.index)

RangeIndex(start=0, stop=3, step=1)

In [25]:
a.index.append(pd.Index([3]))

Int64Index([0, 1, 2, 3], dtype='int64')

In [1]:
11246.28

11246.28

In [2]:
5998.28+5248

11246.279999999999

In [3]:
877-713-5182

-5018

In [4]:
20*1.26*6

151.2

In [5]:
200/(75*3)

0.8888888888888888

In [6]:
import pandas as pd

In [8]:
data=pd.DataFrame(np.arange(16).reshape((4,4)),index=['O','C','U','N'],columns=
                 ['one','two','three','fout'])

In [9]:
data

   one  two  three  fout
O    0    1      2     3
C    4    5      6     7
U    8    9     10    11
N   12   13     14    15

In [10]:
data[:2]

   one  two  three  fout
O    0    1      2     3
C    4    5      6     7

In [11]:
data['three']>5

O    False
C     True
U     True
N     True
Name: three, dtype: bool

In [12]:
data.iloc[[1,2],[3,0,1]]

   fout  one  two
C     7    4    5
U    11    8    9

In [14]:
data.at['C','one']

4

In [5]:
import pandas_datareader.data as web
import pandas as pd

In [2]:
all_data={ticker:web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [6]:
price=pd.DataFrame({ticker:data["Adj Close"] for ticker,data in all_data.items()})

In [7]:
volume=pd.DataFrame({ticker:data["Volume"] for ticker,data in all_data.items()})

In [8]:
returns=price.pct_change()

In [10]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2019-08-09 -0.008240 -0.028337 -0.008496 -0.013936
2019-08-12 -0.002537 -0.014765 -0.013942 -0.011195
2019-08-13  0.042348  0.012452  0.020694  0.019205
2019-08-14 -0.029765 -0.033434 -0.030114 -0.027546
2019-08-15 -0.004981  0.005105 -0.002239  0.002551

In [11]:
returns.MSFT.corr(returns.IBM)

0.48985423245162957

In [12]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.383069  0.455104  0.460768
IBM   0.383069  1.000000  0.489854  0.404046
MSFT  0.455104  0.489854  1.000000  0.536810
GOOG  0.460768  0.404046  0.536810  1.000000

In [13]:
volume.head()

                   AAPL        IBM        MSFT        GOOG
Date
2010-01-04  123432400.0  6155300.0  38409100.0   3927000.0
2010-01-05  150476200.0  6841400.0  49749600.0   6031900.0
2010-01-06  138040000.0  5605300.0  58182400.0   7987100.0
2010-01-07  119282800.0  5840600.0  50559700.0  12876600.0
2010-01-08  111902700.0  4197200.0  51197400.0   9483900.0

In [16]:
returns.corrwith(volume)

AAPL   -0.061954
IBM    -0.151963
MSFT   -0.089812
GOOG   -0.018544
dtype: float64

In [17]:
unique_values=pd.Series(['c','b','a'])

In [18]:
pd.Index(unique_values)

Index(['c', 'b', 'a'], dtype='object')